<header id="header">

    <div class="logo_container">
                <h1><a class="ql_logo" href="http://mat-mcloughlin.net">mat mcloughlin</a></h1>
        
        <p class="logo_desc">.Net developer and lover of javascript. I enjoy climbing and surfing (in cold water). I also like to talk about software.
Powered by Beard.</p>

        <div class="menu social-menu" id="menu-social">
        <ul class="menu-items nav nav_social" id="menu-social-items">
        </ul>
        </div>

        <hr class="hr-small">
    </div><!-- /logo_container -->

</header>