---
layout: default
---
<section id="main" class="col-md-9 col-md-push-3">
<article class="post {% if image %}has-post-image{% else %}no-post-image{% endif %}">

    {% if page.image %}
        <div class="post-image">
            <img src="{{ page.image }}" alt="{{ page.title }}">
        </div><!-- /post-image -->
    {% endif %}

    <div class="post_content">
        <p class="metadata">{% for tag in page.tags %} <a href="/tag/{{ tag }}">" title="{{ tag }}" >#{{ tag }}</a> {% endfor %}</p>
        
        <h1 class="post-title">{{ page.title }}</h2>

        
        <hr>
        <div class="entry">
            {{ content }}

            <div class="clearfix"></div>
        </div>
    </div><!-- /post_content -->

    <div class="clearfix"></div>
</article>
</section>


{% include sidebar.html %}